#title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'sketch_matchregular';
    font-size: 50px;
}
input[type=range]{
    -webkit-appearance: none;
    margin-bottom: 5px;
    height: 10px;
    appearance: none;
    border-radius: 5px;
    background-color: black;
}

#slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: black;
    border-style: solid;
  }
  
#slider::-ms-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: black;
    border-style: solid;
}
  
#slider::-webkit-slider-thumb{
    all:unset; 
    -webkit-appearance: none;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: black;
    border-style: solid;
}

#canva{
    border: 2px;
    height: 500px;
    width: 500px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    display: grid;
    background-color:#9fa263 ;
}

.cell{
    border: 1px;
    border-style: solid;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

@font-face{
    font-family: 'sketch_matchregular';
    src: url('font/sketch_match-webfont.eot');
    src: url('font/sketch_match-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/sketch_match-webfont.woff2') format('woff2'),
         url('font/sketch_match-webfont.woff') format('woff'),
         url('font/sketch_match-webfont.ttf') format('truetype'),
         url('font/sketch_match-webfont.svg#sketch_matchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sketch_matchregular';
    src: url('font/sketch_match-webfont.eot');
    src: url('font/sketch_match-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/sketch_match-webfont.woff2') format('woff2'),
         url('font/sketch_match-webfont.woff') format('woff'),
         url('font/sketch_match-webfont.ttf') format('truetype'),
         url('font/sketch_match-webfont.svg#sketch_matchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}